.main-box{
  width: 600px;
  height: 300px;
  margin: 0 auto;
  border: 1px salmon solid;
  perspective: 800px;
  transform-style: preserve-3d;
  position: relative;
}
.common{
  color: transparent;
  font-size: 32px;
  position: absolute;
}
.center {
  top: 50% !important;
  left: 50% !important;
  transform:translate(-50% -50%) !important;
  -webkit-transform:translate(-50%, -50%) !important;
  transition: 0.5s ease-in;
}
.other{
  transition: 0.5s ease-in;
}
.div1{
  color: aqua;
}
.div2{
  top: 20%;
  left: 10%;
  text-shadow: green 0 0 5px;
  animation:  floatAni 1s ease-in infinite;
}
.div3{
  top: 63%;
  left: 50%;
  text-shadow: red 0 0 5px;
  animation:  floatAni2 1s ease-in infinite;
}
.div4{
  top: 60%;
  left: 10%;
  text-shadow: yellow 0 0 5px;
  animation:  floatAni 1s ease-in infinite;
}
@keyframes floatAni {
  0% {
      transform: translate(0,0);
      -webkit-transform: translate(0,0);

  }
  50% {
      transform: translate(0,4px);
      -webkit-transform: translate(0, 4px);
  }
  100% {
      transform: translate(0,0);
      -webkit-transform: translate(0,0);
  }
}
@keyframes floatAni2 {
  0% {
      transform: translate(0,0);
      -webkit-transform: translate(0,0);

  }
  60% {
      transform: translate(0,-5px);
      -webkit-transform: translate(0, -5px);
  }
  100% {
      transform: translate(0,0);
      -webkit-transform: translate(0,0);
  }
}
